<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
  {% include "components/head.njk" %}
  <body>
    <div id="app" class="min-h-screen bg-white dark:bg-gray-900 flex flex-col">
      
      {% include "components/header.njk" %}

      <main class="flex-1 px-4 pt-20 pb-8 dark:bg-gray-900">
        <div class="flex flex-col md:flex-row gap-4">
          
          <!-- Konten Utama -->
          <div class="flex-1">
            {{ layoutContent | safe }}
          </div>

          <!-- Sidebar -->
          <aside class="w-full md:w-64 lg:w-72">
            {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
              anchorClass: "item",
              activeAnchorClass: "active",
              activeListItemClass: "active",
              activeKey: eleventyNavigation.key,
              listClass: "nav",
              listItemClass: "item"
            }) | safe }}
          </aside>

        </div>
      </main>

      {% include "components/footer.njk" %}

    </div>
  </body>
</html>
