<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
  {% include "components/head.njk" %}
  <body>
    <div id="app" class="min-h-screen bg-white dark:bg-gray-900 flex flex-col">
      
      {% include "components/header.njk" %}

      <main id="main" class="flex-1 flex flex-col md:flex-row dark:bg-gray-900 pt-20 px-4">

        {# Sidebar pindah ke dalam main & hilangkan posisi absolute #}
        {% if site.navigationStyle == "vertical" %}
        <nav id="navigation" class="w-full md:w-64 lg:w-72 mb-8 md:mb-0 md:mr-6 dark:bg-gray-900 md:border-r border-b border-gray-100 dark:border-gray-800 p-4">
          <button name="Close navigation" onclick="closeNavigation()" class="float-right justify-end block md:hidden -mr-4 p-6">
            <svg xmlns="http://www.w3.org/2000/svg" class="dark:bg-gray-500" width="18" height="18" viewBox="0 0 18 18">
              <path class="text-gray-100" d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"/>
            </svg>
          </button>
          <div class="clear-right">
            {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
              anchorClass: "item",
              activeAnchorClass: "active",
              activeListItemClass: "active",
              activeKey: eleventyNavigation.key,
              listClass: "nav",
              listItemClass: "item"
            }) | safe }}
          </div>
        </nav>
        {% endif %}

        {# Konten utama #}
        <div class="flex-1">
          {{ layoutContent | safe }}
        </div>

      </main>

      {% include "components/footer.njk" %}
      
    </div>
  </body>
</html>
